/* Breadcrumb Css start */
.section-header {
  width: 80%;
  align-items: center;
}

.tbl {
  display: table;
  width: 100%;
}

.tbl-row {
  display: table-row;
}

.section-header .tbl-cell {
  vertical-align: middle;
}

.tbl-cell {
  display: table-cell;
}

.section-header .breadcrumb {
  margin-bottom: -13px;
  margin-top: -9px;
}

.breadcrumb.breadcrumb-simple {
  background: 0 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.breadcrumb {
  color: #a57a7a;
  background-color: #ecf2f5;
}

.breadcrumb,
.pager,
.pagination {
  font-size: 1rem;
}

.breadcrumb {
  padding: 0.75rem 1rem;
  list-style: none;
  border-radius: 0.25rem;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb > li,
.navbar-brand,
.navbar-nav .nav-item,
.page-link {
  float: left;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.breadcrumb > .active {
  color: inherit;
}

.breadcrumb > li + li::before {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #818a91;
  content: "/";
}

.breadcrumb::after {
  display: table;
  clear: both;
  content: "";
}

*,
:after,
:before {
  box-sizing: border-box;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 1rem;
}

/* Breadcrumb Css End */

