<div class="flex flex-column scrolled-offset pt-20 mx-2 h-full">
  <div class="w-2/12">
  </div>
  <div class="w-10/12 mx-4">
    <div>
      <header class="section-header">
        <div class="tbl">
          <div class="tbl-row">
            <div class="tbl-cell">
              <h3>Add Course Categories</h3>
              <ol class="breadcrumb breadcrumb-simple d-inline">
                <li class="d-inline"><a [routerLink]="['/home']">Home</a></li>
                <li class="d-inline"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                <li class="d-inline"><a [routerLink]="['/coursecategories']">List Course categories</a></li>
                <li class="active d-inline">Add Course Categories </li>
              </ol>
            </div>
          </div>
        </div>
      </header>
    </div>
    <h1 class="text-center"><b>Add Course Categories</b></h1>
    <form [formGroup]="coursecategoriesForm" (ngSubmit)="coursecategoriesData(coursecategoriesForm)"
      enctype="multipart/form-data">
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <!-- <div class="col-span-6 sm:col-span-3">
              <label for="file" class="block text-sm font-medium text-gray-700">Course Categories Image</label>
              <input type="file" name="file" id="file" autocomplete="file"
                class="form-control text-xl font-normal mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div> -->
            <div class="col-span-6 sm:col-span-3">
              <div class="w-full">
                <div>
                  <label for="formFileLg" class="form-label block mb-1 text-sm font-medium text-gray-700">Course
                    Categories Image</label>
                  <input class="form-control block w-full text-xl font-normal text-gray-700 bg-white bg-clip-padding
                    border border-solid border-gray-300 rounded transition ease-in-out
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="formFileLg"
                    type="file" name="file" id="file" autocomplete="file" formControlName="image">
                </div>
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="course_categories_name" class="block text-sm font-medium text-gray-700">Course Categories
                Name</label>
              <input type="text" name="course_categories_name" id="course_categories_name" formControlName="coursecategoriesName"
                autocomplete="course_categories_name"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-center sm:px-6">
          <button type="submit" [routerLink]="['/coursecategories']"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm   rounded-md text-white bg-black hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            Submit
          </button>
        </div>
      </div>
    </form>

  </div>
</div>

<app-sidebar></app-sidebar>
