<div class="flex flex-column scrolled-offset pt-20 mx-2">
  <div class="w-2/12">
  </div>
  <div class="w-10/12 mx-4">
    <div>
      <header class="section-header">
        <div class="tbl">
          <div class="tbl-row">
            <div class="tbl-cell">
              <h3>Course Categories List</h3>
              <ol class="breadcrumb breadcrumb-simple d-inline">
                <li class="d-inline"><a [routerLink]="['/home']">Home</a></li>
                <li class="d-inline"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                <li class="active d-inline">Course Categories</li>
              </ol>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class=" text-end my-2">
      <a type="button" class="bg-black text-white px-2 py-2 rounded" [routerLink]="['/coursecategories/addCoursecategories']">
        Add Course Categories Name
      </a>
    </div>

    <div class="relative overflow-x-auto my-2">
      <table class="w-full text-left text-white dark:text-white">
        <thead class="text-lg text-white uppercase bg-gray-50 dark:bg-black dark:text-white">
          <tr>
            <th scope="col" class="mx-auto px-2 py-3">
              id
            </th>
            <th scope="col" class="px-6 py-3">
              Course Brand
            </th>
            <th scope="col" class="px-6 py-3">
              Course Categories
            </th>
            <th scope="col" class="px-6 py-3">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b dark:bg-orange-700 dark:border-gray-700">
            <td class="mx-auto px-2 py-4">
              1
            </td>
            <td class="px-6 py-4">
              <img class="w-10 h-10" src="../../../../assets/images/online-training.png">
            </td>
            <td class="px-6 py-4">
              Live Online Training
            </td>
            <td class="px-6 py-4">
              <a type="button" class="bg-black text-white px-2 py-1 rounded" [routerLink]="['/coursecategories/editCoursecategories']">
                <mat-icon>edit</mat-icon>
              </a>
              <a type="button" class="bg-white text-black px-2 py-1 mx-2 rounded">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-orange-700 dark:border-gray-700">
            <td class="mx-auto px-2 py-4">
              2
            </td>
            <td class="px-6 py-4">
              <img class="w-10 h-10" src="../../../../assets/images/free-webinar.jpg">
            </td>
            <td class="px-6 py-4">
              Free Online Webinar
            </td>
            <td class="px-6 py-4">
              <a type="button" class="bg-black text-white px-2 py-1 rounded" [routerLink]="['/coursecategories/editCoursecategories']">
                <mat-icon>edit</mat-icon>
              </a>
              <a type="button" class="bg-white text-black px-2 py-1 mx-2 rounded">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-orange-700 dark:border-gray-700">
            <td class="mx-auto px-2 py-4">
              3
            </td>
            <td class="px-6 py-4">
              <img class="w-10 h-10" src="../../../../assets/images/Soft-skill.jpg">
            </td>
            <td class="px-6 py-4">
              Personality Development,
              Soft Skills, Spoken English
            </td>
            <td class="px-6 py-4">
              <a type="button" class="bg-black text-white px-2 py-1 rounded" [routerLink]="['/coursecategories/editCoursecategories']">
                <mat-icon>edit</mat-icon>
              </a>
              <a type="button" class="bg-white text-black px-2 py-1 mx-2 rounded">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-orange-700 dark:border-gray-700">
            <td class="mx-auto px-2 py-4">
              4
            </td>
            <td class="px-6 py-4">
              <img class="w-10 h-10" src="../../../../assets/images/7f320aad80ace1060a8f59165449c438.jpg">
            </td>
            <td class="px-6 py-4">
              Graphic Design • Web
              Design
            </td>
            <td class="px-6 py-4">
              <a type="button" class="bg-black text-white px-2 py-1 rounded" [routerLink]="['/coursecategories/editCoursecategories']">
                <mat-icon>edit</mat-icon>
              </a>
              <a type="button" class="bg-white text-black px-2 py-1 mx-2 rounded">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-orange-700 dark:border-gray-700">
            <td class="mx-auto px-2 py-4">
              5
            </td>
            <td class="px-6 py-4">
              <img class="w-10 h-10" src="../../../../assets/images/coding.jpg">
            </td>
            <td class="px-6 py-4">
              Programming & Coding
            </td>
            <td class="px-6 py-4">
              <a type="button" class="bg-black text-white px-2 py-1 rounded" [routerLink]="['/coursecategories/editCoursecategories']">
                <mat-icon>edit</mat-icon>
              </a>
              <a type="button" class="bg-white text-black px-2 py-1 mx-2 rounded">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-orange-700 dark:border-gray-700">
            <td class="mx-auto px-2 py-4">
              6
            </td>
            <td class="px-6 py-4">
              <img class="w-10 h-10" src="../../../../assets/images/mobile.jpg">
            </td>
            <td class="px-6 py-4">
              Software Development •
              Mobile App • Testing
            </td>
            <td class="px-6 py-4">
              <a type="button" class="bg-black text-white px-2 py-1 rounded" [routerLink]="['/coursecategories/editCoursecategories']">
                <mat-icon>edit</mat-icon>
              </a>
              <a type="button" class="bg-white text-black px-2 py-1 mx-2 rounded">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>

<app-sidebar></app-sidebar>
