<div class="flex flex-column scrolled-offset pt-20 mx-2 my-5 ">
  <div class="w-2/12">
  </div>
  <div class="w-10/12 mx-4">
    <div>
      <header class="section-header">
        <div class="tbl">
          <div class="tbl-row">
            <div class="tbl-cell">
              <h3>Add Courses List</h3>
              <ol class="breadcrumb breadcrumb-simple d-inline">
                <li class="d-inline"><a [routerLink]="['/home']">Home</a></li>
                <li class="d-inline"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                <li class="d-inline"><a [routerLink]="['/courseslist']">Courses List</a></li>
                <li class="active d-inline">Add Courses List</li>
              </ol>
            </div>
          </div>
        </div>
      </header>
    </div>
    <h1 class="text-center"><b>Add Courses List</b></h1>
    <form [formGroup]="coursesListForm" (ngSubmit)="coursesListData(coursesListForm)" enctype="multipart/form-data">
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="course_categories_name" class="block text-sm font-medium text-gray-700">Course Categories
                Name</label>
              <select id="country" name="country" autocomplete="country" formControlName="courseCategoriesName"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>Live Class</option>
                <option>Webinar</option>
                <option>Soft-Skill</option>
                <option>Designing</option>
                <option>Programming</option>
                <option>Mobile-App</option>
              </select>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-gray-700">Courses Type</label>
              <select id="country" name="country" autocomplete="country" formControlName="courseType" (change)="onChange($event)"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="video">Videos</option>
                <option value="image">Image</option>
                <option value="document">Document</option>
              </select>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="courses_name" class="block text-sm font-medium text-gray-700">Courses Name</label>
              <input type="text" name="courses_name" id="courses_name" formControlName="coursesName"
                autocomplete="courses_name"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
        </div>
        <div  *ngIf="selectedType == 'image'">
          <ngx-dropzone (change)="onSelectImage($event)" [accept]="'image/*'" formControlName="file" ngDefaultControl>
            <ngx-dropzone-label>Drop your Image here</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let i of images" [removable]="true" (removed)="onRemoveImage(i)">
              <ngx-dropzone-label class=" overflow-hidden">{{ i.name }} ({{ i.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <div *ngIf="selectedType == 'video'">
          <ngx-dropzone (change)="onSelectVideo($event)" [accept]="'video/*'" formControlName="file" ngDefaultControl>
            <ngx-dropzone-label>Drop your video here</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let v of videos" [removable]="true" (removed)="onRemoveVideo(v)">
              <ngx-dropzone-label class=" overflow-hidden">{{ v.name }} ({{ v.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <div *ngIf="selectedType == 'document'">
          <ngx-dropzone (change)="onSelectDocument($event)" accept=".pdf, .docx" formControlName="file" ngDefaultControl>
            <ngx-dropzone-label>Drop your video here</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let d of documents" [removable]="true" (removed)="onRemoveDocument(d)">
              <ngx-dropzone-label class=" overflow-hidden">{{ d.name }} ({{ d.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-5 lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 overflow-hidden" *ngIf="selectedType == 'image'">
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"  *ngFor="let i of images" [file]="i" formControlName="file" ngDefaultControl>
            <ngx-dropzone-label class="bottom-0 justify-center">{{ i.name }} ({{ i.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-5 lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 overflow-hidden" *ngIf="selectedType == 'video'">
          <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let v of videos" [file]="v" formControlName="file" ngDefaultControl>
            <ngx-dropzone-label>{{ v.name }} ({{ v.type }})</ngx-dropzone-label>
          </ngx-dropzone-video-preview>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-5 lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 overflow-hidden" *ngIf="selectedType == 'document'">
          <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let d of documents" [file]="d" formControlName="file" ngDefaultControl>
            <ngx-dropzone-label>{{ d.name }} ({{ d.type }})</ngx-dropzone-label>
          </ngx-dropzone-video-preview>
        </div>


        <div class="px-4 py-3 bg-gray-50 text-center sm:px-6">
          <button type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm   rounded-md text-white bg-black hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            Submit
          </button>
        </div>
        <!-- [routerLink]="['/courseslist']" -->
      </div>
    </form>
    <ckeditor data="<p>Hello, world!</p>"></ckeditor>






  </div>
</div>
<app-sidebar></app-sidebar>
