<app-header></app-header>
<div class="">
  <!-- <span class="absolute text-white text-4xl top-5 left-4 cursor-pointer" onclick="openSidebar()">
    <i class="bi bi-filter-left px-2 bg-orange-700 rounded-md"></i>
  </span> -->
  <div class="w-2/12 sidebar fixed top-16 bottom-0 lg:left-0 p-2  overflow-y-auto text-center bg-black">
    <div class="p-1 mt-3 flex items-center rounded-md px-1 duration-300 cursor-pointer hover:bg-orange-700 text-white">
      <a [routerLink]="['/dashboard']">
        <!-- <i class="bi bi-house-door-fill"></i> -->
        <span class="inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="currentColor" class="w-7 h-6  ml-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
          </svg>
        </span>
        <span class="inline-flex text-xl ml-1 text-gray-200 font-medium">Dashboard</span>
      </a>
    </div>
    <div class="p-1 mt-3 flex items-center rounded-md px-1 duration-300 cursor-pointer hover:bg-orange-700 text-white">
      <a [routerLink]="['/profile']">
        <span class="inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="currentColor" class="w-7 h-5 ml-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
        </span>

        <span class="inline-flex text-xl ml-1 text-gray-200 font-medium">Profile</span>
      </a>
    </div>
    <div class="p-1 mt-3 flex items-center rounded-md px-1 duration-300 cursor-pointer hover:bg-orange-700 text-white">
      <a [routerLink]="['/coursecategories']">
        <span class="inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="currentColor" class="w-7 h-5 ml-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
          </svg>

        </span>
        <span class="inline-flex text-xl ml-1 text-gray-200 font-medium">Course Categories</span>
      </a>
    </div>
    <div class="p-1 mt-3 flex items-center rounded-md px-1 duration-300 cursor-pointer hover:bg-orange-700 text-white">
      <a [routerLink]="['/courseslist']">
        <span class="inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="currentColor" class="w-7 h-5 ml-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
          </svg>

        </span>
        <span class="inline-flex text-xl ml-1 text-gray-200 font-medium">Courses List</span>
      </a>
    </div>
  </div>


  <script type="text/javascript">
    function dropdown() {
      document.querySelector("#submenu").classList.toggle("hidden");
      document.querySelector("#arrow").classList.toggle("rotate-0");
    }
    dropdown();

    function openSidebar() {
      document.querySelector(".sidebar").classList.toggle("hidden");
    }
  </script>
</div>
<app-footer class="absolute w-full"></app-footer>


