<app-header></app-header>
<div class="pt-20 flex-column justify-content-center align-items-center scrolled-offset bg-black">
  <div class="flex mx-10">
    <div class="relative w-full flex flex-wrap">

      <div class="relative w-full md:w-4/12 pt-10">
        <div class=" shadow-2xl rounded-xl mx-2 px-2">
          <div class="border-2 border-rounded-xl border-gray-400 shadow-2xl rounded-xl  bg-white">
            <div class="p-2">

              <div class="flex justify-between px-2">
                <div>
                  <p class="text-xl text-black py-2"> Tutorials Name</p>
                </div>
                <div>
                  <div class="relative pt-1">
                    <div class="flex mb-2 items-center justify-between">
                      <div class="px-1">
                        <span class="text-xs  inline-block py-1 uppercase rounded-full text-white bg-orange-700 px-2">
                          learning progress
                        </span>
                      </div>
                      <div class="text-right px-1">
                        <span class="text-xs font-semibold inline-block text-black">
                          30%
                        </span>
                      </div>
                    </div>
                    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-orange-300">
                      <div style="width:30%"
                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-700">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-black">
                <div class="accordion-wrapper">
                  <div class="accordion">
                    <input type="radio" name="radio-a" id="check3" class="hidden opacity-0 z1">
                    <label class="accordion-label" for="check3">Course Content</label>
                    <div class="accordion-content">
                      <div class="py-1 border-2 px-2" *ngFor="let topics of topic">
                        <!-- <input id="checkbox-item-3" type="checkbox" value=""
                          class=" inline-flex w-4 h-4 text-orange-500 bg-orange-500 border-gray-300 focus:ring-black  dark:bg-orange-700 dark:border-black"> -->
                        <a [routerLink]="['/home/tutorials/' + tutorialId +'/' + topics.slug]" [ngClass]="{' w-full text-white font-medium bg-orange-700' : topics.slug == topicId}"
                          (click)="redirectUrlByTopic(tutorialId, topics.slug)"
                          class="inline-flex px-2 text-black" >{{topics.name}} {{getTopic.includes(topics.slug)}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="static w-full md:w-8/12 overflow-y-scroll scrollbar-hide">
        <div class="flex h-screen flex-col p-5">
          <div id="video1">
            <div>
              <p class="text-white font-sans text-2xl"> {{topicDetails.name}}</p>
            </div>
            <!-- <video autoplay title="{{topicDetails.name}}" [controls]="true" [muted]="true"
              class="rounded-lg aspect-video w-full h-8/9" [ngClass]="{'hidden':topicDetails.data[0].pdf}">
              <source [src]="topicDetails.data[0].url" type="video/mp4" />
            </video> -->
          </div>
          <div id="pdf" class="bg-white text-black" [ngClass]="{'hidden':topicDetails.data[0].url}">
            <pdf-viewer [src]="topicDetails.data[0].pdf" [render-text]="true" [original-size]="false"
              style="width: 800px; height: 500px"></pdf-viewer>
          </div>
          <div class="mx-auto w-full p-4 text-center">
            <div>
              <div class="">
                <button (click)="previousTopic()" *ngIf="paginationPrevious"
                   class="mx-1 px-5 py-2 rounded text-white bg-orange-700 hover:opacity-75 hover:duration-500" >&laquo; Previous</button>
                <button onclick="document.getElementById('id01').style.display='block'" *ngIf="paginationFinal"
                  class="mx-1 px-5 py-2 rounded text-white bg-orange-700 hover:opacity-75 hover:duration-500">
                  <span class="text-white">Send For Verification </span>
                </button>
                <button (click)="nextTopic()" *ngIf="paginationNext"
                  class="mx-1 px-5 py-2 rounded text-white bg-orange-700 hover:opacity-75 hover:duration-500">Next &raquo;</button>
              </div>
              <div id="id01" class="w3-modal rounded">
                <div class="w3-modal-content">
                  <div class="">
                    <span onclick="document.getElementById('id01').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                    <div class="m-4 p-5 ">
                      <form [formGroup]="form1" (ngSubmit)="submitForm1(form1)">
                        <div class="mb-5">
                          <label for="name" class="block text-gray-600">Name</label>
                          <input type="text" name="name" formControlName="name"
                            class="w-full p-2 border border-gray-300 rounded-l shadow focus:outline-none focus:ring-2 focus:ring-purple-600"
                            placeholder="Enter you name">
                        </div>
                        <div class="mb-5">
                          <label for="email" class="block text-gray-600">Email</label>
                          <input type="text" name="email" formControlName="email"
                            class="w-full p-2 border border-gray-300 rounded-l shadow" placeholder="Enter you Email">

                        </div>
                        <div class="mb-5">
                          <label for="mobile" class="block text-gray-600">Mobile</label>
                          <input type="text" name="mobile" formControlName="mobile"
                            class="w-full p-2 border border-gray-300 rounded-l shadow focus:outline-none focus:ring-2 focus:ring-purple-600"
                            placeholder="Enter your Mobile Number">
                        </div>
                        <div class="flex">
                          <button type="submit"
                            class="block w-full p-3 text-white bg-orange-700 rounded">Submit</button>
                        </div>
                      </form>
                      <button class=" w-full p-3 mt-2 text-white bg-orange-700 rounded"
                        onclick="document.getElementById('id01').style.display='none'">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
