<app-header></app-header>
<div class=" flex-column justify-content-center align-items-center scrolled-offset">
  <div class="flex items-center justify-center">
    <div class="w-full h-full overflow-hidden relative pt-12">
      <img class="absolute inset-0 h-full w-full object-cover" src="../../../assets/images/bg1.jpg"
        alt="#construction" />
      <div class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
      <div class="flex h-full w-full items-center justify-center relative">
        <section class="mt-1 pt-2">
          <div class="container mx-auto flex px-5 py-12 mt-3 md:flex-col xl:flex-row lg:flex-row flex-col items-center">
            <div
              class="lg:flex-grow lg:pr-28 md:pr-16 flex flex-col md:items-start mt-0 mx-8 mr-9 md:text-left mb-16 md:mb-0 items-center">
              <p class="title-font font-sans text-3xl text-white font-medium text-justify">
                Learn Any
                Course
                for Free in your own Language
              </p>
              <div class="flex justify-center">
                <button type="button"
                  class="text-white bg-orange-600 hover:opacity-75 font-sans text-base px-4 py-2.5 text-center inline-flex items-center">
                  Join For Free
                  <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="lg:max-w-lg lg:w-full  w-5/5 md:mt-3">
              <div>
                <div class="rounded-lg  max-w-md overflow-hidden  p-3">
                  <img class="" src="../../../assets/images/study girl.png" alt="#construction" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="bg-orange-600">
    <div class="grid xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 grid-cols-1 mx-auto px-20 ">
      <div class="flex my-4 px-2 mx-auto text-base font-sans text-white">
        <img src="../../../assets/images/people.png" alt="People Icon" class="w-16 h-16 to-white">
        <label class="mx-2 pt-3 font-sans"><span class="counter-value" data-count="19">19</span><span
            class="count-text"> Lac +</span><br>Members</label>
      </div>
      <div class="flex my-4 px-2 mx-auto text-base font-sans text-white">
        <img src="../../../assets/images/online-learning.png" alt="Video Icon" class="w-16 h-16">
        <label class="mx-2 pt-3 font-sans"><span class="counter-value" data-count="150">150</span> <span
            class="count-text"> + </span> <br>Courses</label>
      </div>
      <div class="flex my-4 px-2 mx-auto text-base font-sans text-white">
        <img src="../../../assets/images/rate.png" alt="Star Icon" class="w-16 h-16">
        <label class="mx-2 pt-3 font-sans"> <span class="counter-value" data-count="4.7">4.7</span> <br>Google
          Rating</label>
      </div>
      <div class="flex my-4 px-2 mx-auto text-base font-sans text-white">
        <img src="../../../assets/images/mobile-app.png" alt="Mobile Icon" class="w-16 h-16">
        <label class="mx-2 pt-3 font-sans"><span class="counter-value" data-count="6">6</span> <span class="count-text">
            Lac +</span> <br>App Installs</label>
      </div>
    </div>
  </div>
  <div class="bg-black">
    <div class="w-full px-14 py-4">
      <div class="w-full text-center text-white">
        <p class="mb-3 text-4xl">Courses By <span>Category</span></p>
        <p class="text-lg">Courses Designed For Continuous Learning To Excell In Any Field</p>
      </div>
      <div class="grid grid-cols-3 gap-x-2 gap-y-6 w-full text-center">
        <div>
          <a href="#" [routerLink]="['/home/courses/live-classes']"
            class="flex h-auto flex-col items-center  border rounded-lg md:flex-row md:max-w-xl bg-orange-600 hover:bg-orange-700 dark:bg-orange-600 dark:hover:bg-orange-700">
            <img class="object-cover w-full rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg"
              src="../../../assets/images/online-training.png" alt="">
            <div class="flex flex-col justify-center p-4 leading-normal">
              <p class="mb-2 text-lg tracking-tight text-white dark:text-white">Live Online Training</p>
              <p class="mb-3 font-normal text-white dark:text-white">7 Courses</p>
            </div>
          </a>
        </div>

        <div>
          <a href="#" [routerLink]="['/home/courses/free-webinar']"
            class="flex h-auto flex-col items-center border rounded-lg md:flex-row md:max-w-xl bg-orange-600 hover:bg-orange-700 dark:bg-orange-600 dark:hover:bg-orange-700">
            <img class="object-cover w-full rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg"
              src="../../../assets/images/free-webinar.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
              <p class="mb-2 text-lg tracking-tight text-white dark:text-white">Free Online Webinar</p>
              <p class="mb-3 font-normal text-white dark:text-white">47 Courses</p>
            </div>
          </a>
        </div>
        <div>
          <a href="#" [routerLink]="['/home/courses/Soft-skill']"
            class="flex h-auto flex-col items-center border rounded-lg md:flex-row md:max-w-xl bg-orange-600 hover:bg-orange-700 dark:bg-orange-600 dark:hover:bg-orange-700">
            <img class="object-cover w-full rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg"
              src="../../../assets/images/Soft-skill.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
              <p class="mb-2 text-lg tracking-tight text-white dark:text-white">Personality Development,
                Soft Skills, Spoken English</p>
              <p class="mb-3 font-normal text-white dark:text-white">8 Courses</p>
            </div>
          </a>
        </div>
        <div>
          <a href="#" [routerLink]="['/home/courses/Designing']"
            class="flex h-auto flex-col items-center border rounded-lg md:flex-row md:max-w-xl bg-orange-600 hover:bg-orange-700 dark:bg-orange-600 dark:hover:bg-orange-700">
            <img class="object-cover w-full rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg"
              src="../../../assets/images/7f320aad80ace1060a8f59165449c438.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
              <p class="mb-2 text-lg tracking-tight text-white dark:text-white">Graphic Design • Web
                Design</p>
              <p class="mb-3 font-normal text-white dark:text-white">33 Courses</p>
            </div>
          </a>
        </div>
        <div>
          <a href="#" [routerLink]="['/home/courses/programming']"
            class="flex h-auto flex-col items-center border rounded-lg md:flex-row md:max-w-xl bg-orange-600 hover:bg-orange-700 dark:bg-orange-600 dark:hover:bg-orange-700">
            <img class="object-cover w-full rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg"
              src="../../../assets/images/coding.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
              <p class="mb-2 text-lg tracking-tight text-white dark:text-white">Programming & Coding</p>
              <p class="mb-3 font-normal text-white dark:text-white">31 Courses</p>
            </div>
          </a>
        </div>
        <div>
          <a href="#" [routerLink]="['/home/courses/mobile-app']"
            class="flex h-auto flex-col items-center border rounded-lg md:flex-row md:max-w-xl bg-orange-600 hover:bg-orange-700 dark:bg-orange-600 dark:hover:bg-orange-700">
            <img class="object-cover w-full rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg"
              src="../../../assets/images/mobile.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
              <p class="mb-2 text-lg tracking-tight text-white dark:text-white">Software Development •
                Mobile App • Testing</p>
              <p class="mb-3 font-normal text-white dark:text-white">28 Courses</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 bg-orange-700">
    <div class="text-center section-heading ">
      <p class="mb-0 text-xl text-white">Top Selected</p>
      <p class="text-4xl text-white">Trainers from Zeksta</p>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide group relative block overflow-hidden rounded-md transition-all duration-500 h-full">
          <img class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/images/pf1 (7).jpeg" alt="img 1">
          <div
            class="absolute -bottom-56 group-hover:bottom-2 mx-2 inset-x-0 transition-all rounded duration-500 bg-black dark:bg-black p-4 shadow dark:shadow-black">
            <a href="#"
              class="hover:text-primary-600 text-lg transition text-white font-sans duration-500 font-medium">Abhay
              Kumar</a>
            <p class="text-white  font-sans font-normal text-sm">Angular, NodeJs, Php, WordPress, ReactJs,
              NestJs</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide group relative block overflow-hidden rounded-md transition-all duration-500 h-full">
          <img class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/images/pf1 (8).jpeg" alt="img 2">
          <div
            class="absolute -bottom-56 group-hover:bottom-2 mx-2 inset-x-0 transition-all rounded duration-500 bg-black dark:bg-black p-4 shadow dark:shadow-black">
            <a href="#"
              class="hover:text-primary-600 text-lg transition text-white font-sans duration-500 font-medium">Shivani
              yadav</a>
            <p class="text-white  font-sans font-normal text-sm">Testing, SalesForce</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide group relative block overflow-hidden rounded-md transition-all duration-500 h-full">
          <img class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/images/pf1 (1).jpeg" alt="img 2">
          <div
            class="absolute -bottom-56 group-hover:bottom-2 mx-2 inset-x-0 transition-all rounded duration-500 bg-black dark:bg-black p-4 shadow dark:shadow-black">
            <a href="#"
              class="hover:text-primary-600 text-lg transition text-white font-sans duration-500 font-medium">Mohit
              Jayshwal</a>
            <p class="text-white  font-sans font-normal text-sm">Flutter, NodeJs, ReactJs, NestJs, Java</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide group relative block overflow-hidden rounded-md transition-all duration-500 h-full">
          <img class="block object-cover object-center w-full h-full rounded-lg" src="../../../assets/images/pf1 .jpeg"
            alt="img 3">
          <div
            class="absolute -bottom-56 group-hover:bottom-2 mx-2 inset-x-0 transition-all rounded duration-500 bg-black dark:bg-black p-4 shadow dark:shadow-black">
            <a href="#"
              class="hover:text-primary-600 text-lg transition text-white font-sans duration-500 font-medium">Ananthapadmanabha</a>
            <p class="text-white  font-sans font-normal text-sm">ReactJs, NodeJs</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide group relative block overflow-hidden rounded-md transition-all duration-500 h-full">
          <img class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/images/pf1 (4).jpeg" alt="img 4">
          <div
            class="absolute -bottom-56 group-hover:bottom-2 p-4 mx-2 inset-x-0 transition-all rounded duration-500 bg-black dark:bg-black shadow dark:shadow-black">
            <a href="#"
              class="hover:text-primary-600 text-lg transition text-white font-sans duration-500 font-medium">Prakhar
              Srivastava</a>
            <p class="text-white  font-sans font-normal text-sm">Digital Marketing</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide group relative block overflow-hidden rounded-md transition-all duration-500 h-full">
          <img class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/images/pf1 (5).jpeg" alt="img 5">
          <div
            class="absolute -bottom-56 group-hover:bottom-2 mx-2 inset-x-0 transition-all rounded duration-500 bg-black dark:bg-black p-4 shadow dark:shadow-black">
            <a href="#"
              class="hover:text-primary-600 text-lg transition text-white font-sans duration-500 font-medium">Aniket
              Narwade</a>
            <p class="text-white  font-sans font-normal text-sm">NodeJs, ReactJs</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide group relative block overflow-hidden rounded-md transition-all duration-500 h-full">
          <img class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/images/pf1 (6).jpeg" alt="img 6">
          <div
            class="absolute -bottom-56 group-hover:bottom-2 mx-2 inset-x-0 transition-all rounded duration-500 bg-black dark:bg-black p-4 shadow dark:shadow-black">
            <a href="#"
              class="hover:text-primary-600 text-lg transition- text-white font-sans duration-500 font-medium">Bharat
              Hy</a>
            <p class="text-white  font-sans font-normal text-sm">NodeJs, ReactJs</p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>
</div>
<app-footer></app-footer>
