<nav class="fixed top-0 z-20 w-full  items-center justify-start px-2 py-1 bg-white"
  style="background-image: url('../../assets/images/abstract-orange-wave-background-free-vector.jpg');">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-start">
    <div class="w-full relative flex justify-between xl:w-auto  xl:static xl:block xl:justify-start mr-8">
      <div class="inline-block text-sm font-bold leading-relaxed  whitespace-nowrap uppercase">
        <a class="inline-flex ">
          <img class="w-16 h-10" src="../../assets/images/brand_3.png">
        </a>
        <p class="inline-flex font-Cinzel text-2xl pl-2 font-bold">Z~PiLEX</p>
      </div>
      <button
        class="font-sans cursor-pointer text-xl leading-none px-2 py-1 h-10 mt-2 border border-gray-800  rounded  block xl:hidden outline-black focus:outline-gray-800"
        type="button" (click)="toggleNavbar()">
        <mat-icon>menubar</mat-icon>
      </button>
    </div>
    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}"
      class="shift xl:flex xl:flex-grow items-center justify-start relative">
      <ul class="flex flex-col xl:flex-row sm:flex-col  ">
        <li class="nav-item hover-underline-animation">
          <a class="px-3 py-2 flex items-center text-base font-sans font-medium uppercase leading-snug xl:active text-white hover:opacity-110"
             [routerLink]="['/home']">
            <span class="ml-1">Home</span>
          </a>
        </li>
        <li class="nav-item hover-underline-animation">
          <a class="px-3 py-2 flex items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110"
            href="#about" (click)="scrollToAbout()">
            <span class="ml-1">About</span>
          </a>
        </li>
        <li class="nav-item hover-underline-animation">
          <div class=" cursor-pointer">

            <div class="dropdown inline-block relative">
              <button
                class="px-3 py-2 flex items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110">
                <span class="mr-1">Courses</span>
              </button>
              <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 bg-orange-700 w-36">
                <li class=" cursor-pointer">
                  <div id="headlessui-menu-item-:r2u:" role="menuitem" tabindex="-1"
                    [routerLink]="['/home/courses/live-classes']">
                    <a
                      class="flex px-4 py-2 items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110 ">
                      <span>Live</span>
                    </a>
                  </div>
                </li>
                <li class=" cursor-pointer">
                  <div id="headlessui-menu-item-:r2v:" role="menuitem" tabindex="-1"
                    [routerLink]="['/home/courses/free-webinar']">
                    <a
                      class="flex px-4 py-2 items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110 ">
                      <span>Webinar</span>
                    </a>
                  </div>
                </li>
                <li class=" cursor-pointer">
                  <div id="headlessui-menu-item-:r2v:" role="menuitem" tabindex="-1"
                    [routerLink]="['/home/courses/Soft-skill']">
                    <a
                      class="flex px-4 py-2 items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110 ">
                      <span>Soft-Skill</span>
                    </a>
                  </div>
                </li>
                <li class=" cursor-pointer">
                  <div id="headlessui-menu-item-:r2v:" role="menuitem" tabindex="-1"
                    [routerLink]="['/home/courses/Designing']">
                    <a
                      class="flex px-4 py-2 items-center text-base  font-sans font-medium uppercase leading-snug  text-white hover:opacity-110 ">
                      <span>Designing</span>
                    </a>
                  </div>
                </li>
                <li class=" cursor-pointer">
                  <div id="headlessui-menu-item-:r2v:" role="menuitem" tabindex="-1"
                    [routerLink]="['/home/courses/programming']">
                    <a
                      class="flex px-4 py-2 items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110 ">
                      <span>Programming</span>
                    </a>
                  </div>
                </li>
                <li class=" cursor-pointer">
                  <div id="headlessui-menu-item-:r2v:" role="menuitem" tabindex="-1"
                    [routerLink]="['/home/courses/mobile-app']">
                    <a
                      class="flex px-4 py-2 items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110 ">
                      <span>Mobile-app</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="nav-item hover-underline-animation">
          <a class="px-3 py-2 flex items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110"
            href="#contactUs" (click)="scrollToContact()">
            <span class="ml-1">Contact Us</span>
          </a>
        </li>
        <!-- <li class="nav-item" *ngIf="showMenu">
          <a class="px-3 py-2 flex items-center text-base font-sans font-medium uppercase leading-snug hover:opacity-110"
            href="#contactUs" (click)="scrollToContact()">
            <button class=" bg-slate-900 text-white py-2 px-3 hover:opacity-110">Join For Free</button>
          </a>
        </li> -->
      </ul>
      <ul class="flex flex-col lg:flex-row ml-auto" *ngIf="!showMenu">
        <li>
          <div class="relative mx-auto text-gray-600 lg:block hidden ml-2">
            <input class="bg-white h-9.5 pl-2 pr-8 text-sm focus:outline-none" type="search" name="search"
              placeholder="Search">
            <button type="submit" class="absolute right-0 top-0 mt-3 mr-2">
              <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" version="1.1"
                id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                xml:space="preserve" width="512px" height="512px">
                <path
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
              </svg>
            </button>
          </div>
        </li>
        <li class="nav-item">
          <!-- <a class=" flex items-center text-base font-sans uppercase leading-snug hover:opacity-110"
            >
            <button class=" bg-gray-800 text-white py-2 px-3 rounded-full"></button>
          </a> -->
          <div class=" cursor-pointer mx-2">

            <div class="dropdown inline-block relative">
              <a class="dropdown-toggle flex items-center " href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-full h-10 w-10" alt="" loading="lazy" />
              </a>
              <!-- <button
                class="px-3 py-2 flex items-center text-base font-sans font-medium uppercase leading-snug  text-black hover:opacity-110">
                <span class="mr-1">Courses</span>
              </button> -->
              <ul class="dropdown-menu absolute hidden text-white pt-1 bg-orange-700 w-36 right-1">
                <li class=" cursor-pointer p-2">
                  <div id="headlessui-menu-item-:r2u:" role="menuitem" tabindex="-1">
                    <a href="dashboard" [routerLink]="['/dashboard']"
                      class="flex px-4 py-2 items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110 ">
                      <span>DashBoard</span>
                    </a>
                  </div>
                </li>
                <li class=" cursor-pointer p-2">
                  <div id="headlessui-menu-item-:r2v:" role="menuitem" tabindex="-1">
                    <a href="logout" [routerLink]="['/']"
                      class="flex px-4 py-2 items-center text-base font-sans font-medium uppercase leading-snug  text-white hover:opacity-110 ">
                      <span>LogOut</span>
                    </a>
                  </div>
                </li>

              </ul>
            </div>
          </div>

        </li>

      </ul>
    </div>
  </div>
</nav>
