.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #1e293b;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e293b;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* SHIFT */
div.shift ul li a {
  position: relative;
  z-index: 1;
}

div.shift ul li a:hover {
  color: #fff9ee;

}

div.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #4e4945;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

div.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

div ul li a,
div ul li a:after,
div ul li a:before {
  transition: all .5s;
}
div ul li a:hover {
  color: #555;
}

.dropdown:hover .dropdown-menu {
  display: block;

}

