<nav class="fixed top-0 z-20 w-full  items-center justify-start px-2 py-1 bg-white"
  style="background-image: url('../../assets/images/abstract-orange-wave-background-free-vector.jpg');">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-start">
    <div class="w-full relative flex justify-between xl:w-auto  xl:static xl:block xl:justify-start mr-8">
      <div class="inline-block text-sm font-bold leading-relaxed  whitespace-nowrap uppercase">
        <a class="inline-flex ">
          <img class="w-16 h-10" src="../../assets/images/brand_3.png">
        </a>
        <p class="inline-flex font-Cinzel text-2xl pl-2 font-bold">Zeksta PiLEX</p>
      </div>
    </div>
  </div>
</nav>
<section class="relative py-24 flex flex-col items-center justify-center text-center text-white  px-3">
  <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
    <video class="min-w-full min-h-full absolute object-cover"
      src="../../../assets/images/Solid Logo Reveal Preview 69137360.mp4" type="video/mp4" autoplay
      [muted]="true"></video>
  </div>
  <div class="video-content bg-orange-600 rounded text-start p-9 my-2">
    <div class=" ">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        Sign in to your account
      </h1>
      <form class="space-y-4 md:space-y-6" [formGroup]="loginForm" (ngSubmit)="loginProfile(loginForm)">
        <div>
          <label for="email" class="block mb-2 font-medium text-gray-900 dark:text-white">Your email</label>
          <input type="email" name="email" id="email" formControlName="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Email" required="">
        </div>
        <div>
          <label for="password" class="block mb-2  font-medium text-gray-900 dark:text-white">Password</label>
          <input type="password" name="password" id="password" placeholder="Password" formControlName="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required="">
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="remember" aria-describedby="remember" type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-white focus:ring-3 focus:ring-black dark:bg-white dark:border-white dark:focus:ring-black dark:ring-offset-white"
                required="">
            </div>
            <div class="ml-3 text-sm">
              <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
            </div>
          </div>
          <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot
            password?</a>
        </div>
        <button type="submit"
          class="w-full text-white bg-black bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg  px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign
          in</button>
      </form>
    </div>
  </div>
</section>
<footer class=" body-font z-20">
  <div class="bg-orange-700 p-4">
    <div class="container mx-auto px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-white text-sm font-sans text-center mx-auto justify-center">© 2022 Designed and Developed by Zeksta
        Technology —
        <a href="https://zeksta.com" class="text-white ml-1 font-sans" target="_blank"
          rel="noopener noreferrer">@Zeksta</a>
      </p>
      <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto">
        <a class="text-white">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-white">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a class="ml-3 text-white">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-white">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
