<footer class=" body-font z-20">
  <div class="footer_area  relative overflow-hidden">

    <!-- <div class="shape absolute right-0 top-0 opacity-5 h-full overflow-hidden w-1/3">
        <img src="../../assets/image/footer-shape-right.jpg" alt="footleft">
      </div> -->
    <div class="relative mx-auto text-center bg-yellow-600">
      <div class="absolute overflow-hidden">
        <img src="../../assets/images/footer.jpg" alt="footleft">
        <div class="absolute inset-0 bg-gray-900 bg-opacity-25"></div>
      </div>
      <div class="relative grid xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-4 grid-cols-1 overflow-hidden p-2">
        <div class=" w-full">
          <div class="w-full">
            <a class="text-sm font-bold leading-relaxed  whitespace-nowrap uppercase">
              <img class="w-24 h-16 mx-auto" src="./../../assets/images/brand_3.png">
            </a>
            <p class="text-xl font-Cinzel leading-relaxed  whitespace-nowrap uppercase text-black font-bold mx-auto">
              Zeksta PiLEX</p>
          </div>
        </div>
        <div class=" w-full xl:text-left lg:text-left md:text:left text-center">
          <h2 class="title-font  text-black font-bold tracking-widest text-sm mb-1 font-sans">Quick Links</h2>
          <nav class="list-none mb-3">
            <li>
              <a class="text-black font-bold hover:text-gray-800 text-base font-sans" href="#home"
                (click)="scrollToHome()">Home</a>
            </li>
            <li>
              <a class="text-black font-bold hover:text-gray-800 text-base font-sans" href="#about"
                (click)="scrollToAbout()">About</a>
            </li>
            <li>
              <a class="text-black font-bold hover:text-gray-800 text-base font-sans" href="#testimonials"
                (click)="scrollToTestimonials()">Courses</a>
            </li>
            <li>
              <a class="text-black font-bold hover:text-gray-800 text-base font-sans" href="#contactUs"
                (click)="scrollToContact()">Contact Us</a>
            </li>
          </nav>
        </div>
        <div class="w-full xl:text-left lg:text-left md:text:left text-center">
          <h2 class="title-font text-black font-bold tracking-widest text-sm mb-1 font-sans">Information</h2>
          <nav class="list-none mb-3">
            <li>
              <a class="text-black font-bold hover:text-gray-800 text-base font-sans"
                [routerLink]="['/terms&condition']">Terms & Condition</a>
            </li>
            <li>
              <a class="text-black font-bold hover:text-gray-800 text-base font-sans"
                [routerLink]="['/privacypolicy']">Privacy Policy</a>
            </li>
          </nav>
        </div>
        <div class="w-full xl:text-left lg:text-left md:text:left text-center">
          <h2 class="title-font text-black font-bold tracking-widest text-sm mb-1 font-sans">Contact Us</h2>
          <nav class="list-none mb-3">
            <ul class="links  justify-content-between mb-0">
              <li><a class="text-black font-bold text-base font-sans" href="tel:+91-9876543210">+91-9876543210</a></li>
              <br>
              <li><a class="text-black font-bold text-base font-sans" href="tel:+91-9876543210">+91-9876543210</a></li>
              <br>
              <li><a class="text-black font-bold text-base font-sans"
                  href="mailto:zeksta.pilex@gmail.com">zeksta.pilex@gmail.com</a></li>
              <br>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>
  <div class="bg-black p-4">
    <div class="container mx-auto px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-white text-sm font-sans text-center mx-auto justify-center">© 2022 Designed and Developed by Zeksta
        Technology —
        <a href="https://zeksta.com" class="text-white ml-1 font-sans" target="_blank"
          rel="noopener noreferrer">@Zeksta</a>
      </p>
      <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto">
        <a class="text-white">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-white">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a class="ml-3 text-white">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-white">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
