<app-header></app-header>
<div class="pt-20 flex-column justify-content-center align-items-center scrolled-offset bg-black">
  <div class="flex mx-10">
    <div class="relative w-full flex flex-wrap">
      <div class="static w-full md:w-8/12 overflow-y-scroll scrollbar-hide">
        <div class="flex h-screen flex-col p-5">
          <div class="p-4">
            <p class="text-3xl text-white">
              Code of Business Conduct
            </p>
          </div>
          <div class="flex mb-2 mx-auto p-4 border-b-2">
            <div class="pt-3 font-medium dark:text-white grid grid-cols-3">
              <div class="border-r-2 border-slate-300 flex mr-3 pr-10">
                <img class="w-14 h-14 rounded-full" src="../../../../assets/images/pf1 (7).jpeg" alt="" />
                <p class="px-2 pt-1 text-lg">
                  Abhay Kumar
                  <time datetime="2014-08-16 19:00" class="block text-sm text-gray-500 dark:text-white">Joined on August
                    2014</time>
                </p>
              </div>
              <div class="border-r-2 border-slate-300 flex">
                <p class="pt-1 text-lg">
                  Course Rating
                  <time datetime="2014-08-16 19:00" class="block text-sm text-gray-500 dark:text-white">
                    <div class="py-2 flex justify-between text-sm text-gray-600">
                      <div class="flex">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                          class="h-4 w-4 fill-current text-yellow-500">
                          <path
                            d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                          </path>
                        </svg>
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                          class="h-4 w-4 fill-current text-yellow-500">
                          <path
                            d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                          </path>
                        </svg>
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                          class="h-4 w-4 fill-current text-yellow-500">
                          <path
                            d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                          </path>
                        </svg>
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                          class="h-4 w-4 fill-current text-yellow-500">
                          <path
                            d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                          </path>
                        </svg>
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                          class="h-4 w-4 fill-current text-white">
                          <path
                            d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                          </path>
                        </svg>
                        <span class="ml-2 text-white">4 star</span>
                      </div>
                    </div>
                  </time>
                </p>
              </div>
              <div class="flex">
                <p class="px-2 pt-1 text-lg">
                  Active Learners
                  <time datetime="2014-08-16 19:00" class="block text-sm text-gray-500 dark:text-white">
                    <div class="flex justify-between text-sm text-gray-600">
                      <div class="flex">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 bg-white rou">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg> -->

                        <img class="h-8 w-8 rounded-full bg-white" src="../../../../assets/images/people.png" />
                        <span class="ml-2 pt-1 text-white">100</span>
                      </div>
                    </div>
                  </time>
                </p>
              </div>
            </div>
          </div>
          <div class="p-4">
            <p class="text-2xl p-4 text-white font-sans font-medium">
              What’s included in this Course
            </p>
            <div class="grid grid-cols-2 p-4 text-white">
              <div class="col">
                <div class="flex">
                  <img class="h-6 w-6 bg-white rounded" src="../../../../assets/images/play.png" alt="" />
                  <p class="px-2 text-lg font-sans">
                    <span class="">17+ hours of on-demand video</span>
                  </p>
                </div>
                <div class="flex">
                  <img class="h-6 w-6 bg-white rounded" src="https://www.learnvern.com/images/new-home-assets/News.svg"
                    alt="" />
                  <p class="px-2 text-lg font-sans">
                    <span class="px-1">49 Articles</span>
                  </p>
                </div>
                <div class="flex">
                  <img class="h-6 w-6 bg-white rounded" src="https://www.learnvern.com/images/new-home-assets/Video.svg"
                    alt="" />
                  <p class="px-2 text-lg font-sans">
                    <span class="px-1">13 Exercise</span>
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="flex">
                  <img class="h-6 w-6 bg-white rounded"
                    src="https://www.learnvern.com/images/new-home-assets/Download_icon.svg" alt="" />
                  <p class="px-2 text-lg font-sans">
                    <span class="px-1">51 Downloadable Resources</span>
                  </p>
                </div>
                <div class="flex">
                  <img class="h-6 w-6 bg-white rounded"
                    src="https://www.learnvern.com/images/new-home-assets/TVShow.svg" alt="" />
                  <p class="px-2 text-lg font-sans">
                    <span class="px-1">Access on Mobile and TV</span>
                  </p>
                </div>
                <div class="flex">
                  <img class="h-6 w-6 bg-white rounded"
                    src="https://www.learnvern.com/images/new-home-assets/LifeCycle.svg" alt="" />
                  <p class="px-2 text-lg font-sans">
                    <span class="px-1">Life Time Access</span>
                  </p>
                </div>
              </div>
            </div>
            <div class=""></div>
          </div>
          <div class="row course-certificate py-2 px-7">
            <div class="col-6 px-2">
              <div>
                <p class="text-white text-xl py-2">
                  Authorized Training Partner of
                </p>
              </div>
              <div class="flex justify-between">
                <div class="flex gap-3">
                  <img class="h-14 w-14" src="../../../../assets/images/download.png" alt="" />
                  <img class="h-14 w-14" src="../../../../assets/images/zekstaLogo.png" alt="" />
                </div>
                <div class="">
                  <div class="w3-container">
                    <button onclick="document.getElementById('id01').style.display='block'"
                      class="px-5 py-2 rounded bg-orange-700 hover:opacity-75 hover:duration-500">
                      <span class="text-white">View Certificate</span>
                    </button>
                    <div id="id01" class="w3-modal">
                      <div class="w3-modal-content">
                        <div class="">
                          <span onclick="document.getElementById('id01').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>
                          <img class="h-50 w-100" src="../../../../assets/images/f certificate.jpg" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-4 w-full  mx-2">
            <p class="text-white p-2 text-2xl">Overview</p>
            <p class="text-white mx-auto p-2">
              A <b class="font-medium text-lg">code of conduct</b> is a set of organizational rules or standards regarding organizational values,
              beliefs, and ethics, <span id="dots">...</span><span id="more">as well as matters of legal compliance
              that govern the conduct of the organization and its members. Organizational members are responsible
              for adhering to the <b class="font-medium text-lg">code of conduct</b> and will be held accountable for failure to do so. Most large
              businesses will have a <b class="font-medium text-lg">code of conduct</b>, which are often developed in response to legislation
              regulating business activities and behavior or some sort of ethical scandal.</span>
            </p>
            <div class="p-2">
              <button onclick="myFunction()" id="myBtn" type="button"
                class="bg-orange-700 text-white px-2 py-2 rounded hover:opacity-75 hover:duration-500">
                Read more
              </button>
            </div>
            <div class="border-2"></div>
          </div>
          <div class="p-4 w-full mx-2 text-white">
            <p class="text-2xl">Course Content</p>

            <div class="accordion-wrapper">
              <div class="accordion">
                <input type="radio" name="radio-a" id="check1" checked class="hidden opacity-0 z1">
                <label class="accordion-label" for="check1">Accordion 1</label>
                <div class="accordion-content">
                  <p>Hey there, you are watching codiesbugs &#128522;</p>
                </div>
              </div>
              <div class="accordion">
                <input type="radio" name="radio-a" id="check2" class="hidden opacity-0 z1">
                <label class="accordion-label" for="check2">Accordion 2</label>
                <div class="accordion-content">
                  <p>I hope you are enjoing the video, don't forget to give your feedback in comment section</p>
                </div>
              </div>
              <div class="accordion">
                <input type="radio" name="radio-a" id="check3" class="hidden opacity-0 z1">
                <label class="accordion-label" for="check3">Accordion 3</label>
                <div class="accordion-content">
                  <p>If you liked then don't forget to subscribe the channel for latest videos. </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="p-4 w-full mx-2">
              <div class="inline-flex justify-between bg-orange-700 rounded-lg p-4">
                <div class="w-3/6">
                  <img class="h-48 w-80 rounded-lg" src="../../../../assets/images/f certificate.jpg" alt="" />
                </div>
                <div class="w-3/6">
                  <p class="text-3xl text-white">Hey Learner, This COBC Course is 100% for your</p>
                  <p class="text-xl text-white text-justify">You just have to Upgrade your skill through this free course to <span
                      class="text-medium">Skill India/ Zeksta</span> Certified Course</p>
                </div>
              </div>
            </div>
          </div>
          <div class="p-4 w-full">
            <p class="p-4 text-2xl text-white">Trainer Info</p>
            <div class="grid grid-cols-2 bg-orange-700 p-2 m-2 rounded-lg pt-2">
              <div class="border-r-2 border-slate-300 flex ml-5 pr-10">
                <img class="w-20 h-20 rounded-full" src="../../../../assets/images/pf1 (7).jpeg" alt="" />
                <p class="px-2 pt-3 text-xl text-white">
                  Abhay Kumar
                  <time datetime="2014-08-16 19:00" class="block text-lg text-gray-500 dark:text-white">Joined on August
                    2014</time>
                </p>
              </div>
              <div>
                <div class="grid ">
                  <p class="px-2 pt-3 text-xl text-white">1862 students</p>
                  <p class="px-2 pt-1 text-white">have learnt from Satyam Rathaur</p>
                </div>
              </div>
            </div>
          </div>
          <div class="p-4 w-full">
            <p class="p-4 text-2xl text-white">Learner's Ratings</p>
            <div class="grid grid-cols-2 bg-orange-700 p-2 m-2 rounded-lg">
              <div class=" p-4">
                <div>
                  <p class="text-xl font-medium text-gray-900 dark:text-white">4.95</p>
                </div>
                <div class="flex mx-auto text-center mb-3">
                  <div>
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <title>First star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                      </path>
                    </svg>
                  </div>
                  <div>
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <title>Second star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                      </path>
                    </svg>
                  </div>
                  <div>
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <title>Third star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                      </path>
                    </svg>
                  </div>
                  <div>
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <title>Fourth star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                      </path>
                    </svg>
                  </div>
                  <div>
                    <svg aria-hidden="true" class="w-5 h-5 text-white dark:text-white" fill="currentColor"
                      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <title>Fifth star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                      </path>
                    </svg>
                  </div>
                </div>
                <div>
                  <p class="text-lg font-medium text-white dark:text-white">1,745 global ratings</p>
                </div>
              </div>
              <div class="items-center p-4">
                <div class="flex items-center mt-1">
                  <span class="text-sm font-medium text-blue-600 dark:text-white">5 star</span>
                  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                    <div class="h-5 bg-yellow-400 rounded" style="width: 70%"></div>
                  </div>
                  <span class="text-sm font-medium text-blue-600 dark:text-white">70%</span>
                </div>
                <div class="flex items-center mt-1">
                  <span class="text-sm font-medium text-blue-600 dark:text-white">4 star</span>
                  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                    <div class="h-5 bg-yellow-400 rounded" style="width: 17%"></div>
                  </div>
                  <span class="text-sm font-medium text-blue-600 dark:text-white">17%</span>
                </div>
                <div class="flex items-center mt-1">
                  <span class="text-sm font-medium text-blue-600 dark:text-white">3 star</span>
                  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                    <div class="h-5 bg-yellow-400 rounded" style="width: 8%"></div>
                  </div>
                  <span class="text-sm font-medium text-blue-600 dark:text-white">8%</span>
                </div>
                <div class="flex items-center mt-1">
                  <span class="text-sm font-medium text-blue-600 dark:text-white">2 star</span>
                  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                    <div class="h-5 bg-yellow-400 rounded" style="width: 4%"></div>
                  </div>
                  <span class="text-sm font-medium text-blue-600 dark:text-white">4%</span>
                </div>
                <div class="flex items-center mt-1">
                  <span class="text-sm font-medium text-blue-600 dark:text-white">1 star</span>
                  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                    <div class="h-5 bg-yellow-400 rounded" style="width: 1%"></div>
                  </div>
                  <span class="text-sm font-medium text-blue-600 dark:text-white">1%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="relative w-full md:w-4/12 pt-10">
        <div class="border-2 border-gray-400 shadow-2xl rounded-xl mx-2 px-2 bg-white">
          <div class="m-2 p-2">
            <p class="text-2xl text-bold font-medium font-sans">
              Code of Business Conduct
            </p>
            <span class="font-normal text-bold font-Cinzel">
              Zeksta PiLEX
            </span>
          </div>
          <div class="p-2 border-2 rounded">
            <img class="mx-auto h-40"
                  src="../../../../assets/images/Corporate-Ethics.jpg"
                  alt="" />
            <!-- <video autoplay loop [controls]="true" [muted]="true" class="rounded-lg">
              <source src="../../../../assets/images/Solid Logo Reveal Preview 69137360.mp4" type="video/mp4" />
            </video> -->
          </div>
          <div class="mx-2 p-2">
            <div class="p-2 flex justify-between text-sm text-gray-600 border-t-2">
              <div class="flex">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 fill-current text-yellow-500">
                  <path
                    d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                  </path>
                </svg>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 fill-current text-yellow-500">
                  <path
                    d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                  </path>
                </svg>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 fill-current text-yellow-500">
                  <path
                    d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                  </path>
                </svg>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 fill-current text-yellow-500">
                  <path
                    d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                  </path>
                </svg>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-current text-gray-400">
                  <path
                    d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                  </path>
                </svg>
                <span class="ml-2">4.95</span>
              </div>
              <div class="flex">
                <img class="h-6 w-6" src="../../../../assets/images/people.png" />
                <span class="ml-2 text-gray-500">78</span>
              </div>
            </div>
          </div>
          <div class="mx-2 p-2">
            <a [routerLink]="['/home/tutorials/'+ tutorialId + '/' + topic[0].slug]"
              class="relative inline-flex items-center rounded-xl justify-center p-4 w-full overflow-hidden font-medium text-white bg-orange-700 transition duration-500 ease-out border-2 shadow-md group">
              <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-200 -translate-x-full bg-black group-hover:translate-x-0 ease">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                  </path>
                </svg>
              </span>
              <span
                class="absolute flex items-center justify-center w-full h-full text-white transition-all duration-800 transform group-hover:translate-x-full ease font-sans text-lg font-medium">
                Start your Course</span>
              <span class="relative invisible">Button Text</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
